{% extends 'menu.html.twig' %}

{% block title %}Ma Boutique
{% endblock %}

{% block body %}
	<div class="row layout-top-spacing">
		<div class="col-lg-3 col-md-3 col-sm-3 mb-4">
			<input id="t-text" type="text" name="txt" placeholder="Search" class="form-control" required="">
		</div>
	</div>
	<div class="row">
	</div>
{% endblock %}
