<fieldset>
    <legend class="text-capitalize" style="font-size: 20px">Information générale</legend>
    <hr>
    <div class="row mt-2">
        <div class="col-12">
            <div class="mb-3 row">
                <label class="col-md-2 col-form-label">Désignation
                    <samp class="text-capitalize text-danger">*</samp>
                </label>
                <div class="col-md-8">
                    {{ form_widget(form.name) }}
                    {{ form_errors(form.name) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            <div class="mb-3 row">
                <label class="col-md-2 col-form-label">Domaine
                    <samp class="text-capitalize text-danger">*</samp>
                </label>
                <div class="col-md-8">
                    {{ form_widget(form.domaine) }}
                    {{ form_errors(form.domaine) }}
                </div>
            </div>
        </div>
    </div>
</fieldset>
